{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
         // disable requiring trailing commas because it might be nice to revert to
         // being JSON at some point, and I don't want to make big changes now.
         "comma-dangle": 0,

         // enable js as one of the jsx-filename-extension
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

        // disable prefer-stateless-function
        "react/prefer-stateless-function": 0,

        // disable no-array-index-key
        "react/no-array-index-key": 0
    }
}
