.App {
  text-align: left;
}

.PointerCursor {
  cursor: pointer;
}

.Footer {
  text-align: center;
}


/* Carousel style override */
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	color: #000000;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}
.carousel-indicators .active {
  background-color: #444 !important;
}
